@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 95%);
}

main.container {
    padding: 4em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 2em;
    max-width: 250px;
}
div.box h2{
    margin-top: 1em;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
}
div.box p{
    line-height: 1.5;
    margin-top: 1.5em;
    font-size: .9em;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
}
div.box img{
    max-height: 10%;
    max-width: 40%;
}
div.box a{
    margin-top: 2.5em;
    font-size: .9em;
    display: inline-block;
    text-decoration: none;
    border: 2px solid hsl(0, 0%, 95%);
    background-color: hsl(0, 0%, 95%);
    padding: .5em 1.5em;
    border-radius: 40px;
    font-family: 'Lexend Deca', sans-serif;
}
div.box a:hover, a:active{
    background-color: transparent;
    color: hsl(0, 0%, 95%);
}

div.orange {
    border-radius: 8px 8px 0 0;
    background-color: hsl(31, 77%, 52%);
}
div.orange a{
    color: hsl(31, 77%, 52%);
}
div.blue {
    background-color: hsl(184, 100%, 22%);
}
div.blue a{
    color: hsl(184, 100%, 22%);
}
div.green {
    border-radius: 0 0 8px 8px;
    background-color: hsl(179, 100%, 13%);
}
div.green a{
    color: hsl(179, 100%, 13%);
}

.attribution {
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    main.container {
        padding: 6.5em 0 0 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    div.box {
        padding: 2em 1.5em 2em 2em;
        max-width: 250px;
    }
    div.orange {
        border-radius: 8px 0 0 8px;
    }
    div.green {
        border-radius: 0 8px 8px 0;
    }
    div.box a{
        margin-top: 5em;
    }

    .attribution {
        margin-bottom: unset;
        margin-top: 20px;
    }
}