@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 95%);
}

main.container {
    height: 90vh;
    padding: 0 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.box {
    width: 30%;
    padding: 3em 0 2em 2.5em;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
div.box h2{
    font-size: 2.2rem;
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
}
div.box p{
    margin-top: -1em;
    line-height: 1.6;
    font-size: .9em;
    width: 80%;
    color: hsla(0, 0%, 100%, 0.75);
    position: relative;
    bottom: 15px;
    font-family: 'Lexend Deca', sans-serif;
}
div.box img{
    height: 10%;
    max-width: 40%;
}
div.box a{
    font-size: .9em;
    display: inline-block;
    text-decoration: none;
    border: 2px solid hsl(0, 0%, 95%);
    background-color: hsl(0, 0%, 95%);
    padding: .5em 1.5em;
    border-radius: 40px;
    font-family: 'Lexend Deca', sans-serif;
}
div.box a:hover, a:active{
    background-color: transparent;
    color: hsl(0, 0%, 95%);
}

div.orange {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
div.orange a{
    color: hsl(31, 77%, 52%);
}
div.blue {
    background-color: hsl(184, 100%, 22%);
}
div.blue a{
    color: hsl(184, 100%, 22%);
}
div.green {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
div.green a{
    color: hsl(179, 100%, 13%);
}

@media only screen and (max-width: 1024px){
    main.container{
        padding: 0 2em;
    }

    div.box{
        height: 65%;
        padding: 2.5em 1.5em 2em 2em;
    }

    div.box p {
        position: unset;
        width: 100%;
    }
}

@media only screen and (max-width: 700px){
    main.container {
        height: unset;
        padding: 4em 10em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div.box {
        width: 90%;
        padding: 3em 2em 2em 3em;
        height: 400px;
        position: relative;
    }

    div.box p {
        position: unset;
        width: 90%;
    }
    div.box a{
        padding: .5em 1em;
        border-radius: 40px;
    }
    div.orange{
        border-radius: 8px 8px 0 0;
    }
    div.green{
        border-radius: 0 0 8px 8px;
    }

    .attribution {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 570px){
    main.container{
        padding: 4em 5em;
    }
}
@media only screen and (max-width: 400px){
    main.container {
        height: unset;
        padding: 4em 2em;
    }

    div.box {
        padding: 3em 2em 2em 4em;
        height: 350px;
        position: relative;
    }
    div.orange{
        border-radius: 8px 8px 0 0;
    }
    div.green{
        border-radius: 0 0 8px 8px;
    }
    div.box p{
        width: 95%;
    }
}

@media only screen and (max-width: 325px){
    main.container {
        height: unset;
        padding: 4em .5em;
    }

    div.box {
        padding: 3em 2em 2em 3em;
        height: 320px;
        position: relative;
    }

    div.box > p, a{
        font-size: .8em;
    }
}